<mat-toolbar>
    <a mat-button routerLink="/search" routerLinkActive="active-link">Search</a>
    <a mat-button routerLink="/favorite-videos" routerLinkActive="active-link">Favorites</a>
    <span>Innovatube</span>
    <span class="example-spacer"></span>
    <img src="../../../../../assets/img/logo.png" alt="Logo" class="image-menu" />
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>